HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.mvn

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

/classes/
/src/main/java/META-INF/
/src/main/resources/application-dev.yml
/src/main/resources/application-local.yml
/classes/**
/target/**
/src/main/java/META-INF
/logs/**

sonar.sh